

$color:#f7452e;
$background:#292d32;
$hover:#fff;
$backgroud-body: rgb(75, 75, 75);

@mixin font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

@mixin title {
    h2{
        color: $color;
        text-align: center;
    }
    hr{
        color: $color;
        height: 3px;
    }
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $backgroud-body;
}
  // NAVBAR CSS
  .nav
  {
      width: 100%;
      padding-top: 0;
      div
      {
          background-color:$background;
          .nav-link{
              color: $color;
          }
          a.nav-link:hover{
                      color: $hover;
                  }
          a.nav-link:active
          {
              color: $color;
          }
          
          ul{
              width: 80%;
              li.form
              {
                  width: 65%;
                  height: 60px;
                  margin-top: 10px;
                  form{
                      height: 50px;
                  }

              }

              li.end
              {
                  width: 25%;
                  margin-left: 5%;
                  margin-top: 13px;
                  a{
                      color: $color;
                      text-decoration: none;
                  }
                  a:hover
                  {
                      color: $hover;
                  }
              }
          }
        }
  }


      // LIST CSS
.list
{
  margin-top: 8em;
  div
  {
      background-color: $backgroud-body;
      @include font();
      .nav-link{
          color: $color;
      }
      a.nav-link:hover{
                  color: $hover;
              }
      a.nav-link:active
      {
          color: $color;
      }
      div
      {
          
          ul
          {
              background-color: $backgroud-body;
              padding: 0;
              margin: 0;
              li
              {
                  background-color: #fff;
                  border: 1px solid $color;
                  border-radius: 6px;
                  padding: 0 02px;
                  margin: 0 10px;
                  transition: all 1s;
              }

              li:hover
              {
                  background-color: $color;
                  border: 1px solid #fff;
                  border-radius: 6px;
                  transition: all 1s;
                 
              }
             
          }
          
         
             
          
      }
     
  }
  
}

// bANNER CSS
.banner
{
    margin-top: 80px;
}

        // Sản Phẩm css
.sp
{
    @include font();
    @include title();
    a{
        color: $color;
        text-decoration: none;
    }
    a:hover
    {
        color: $hover;
    }
    .sp-item
    {
        .card{
            overflow: hidden;  
            img
            {
                height: 300px;
                max-width: 100%;
                transition: all 1s;
                position: relative;
            }
             img:hover
             {  
                 transform: scale(1.1);
             }
             h5,p{
                 color: $color;
                 
             }
             a{
                 background-color: $color;
                 border: 0;
                 color:$hover;
                 height: 40px;
                 transition: all 1s;
             }
             a:hover{
                 background-color: $hover;
                 color: $color;
                 transition: all 1s;
                 border: 1px solid $color;
             }
        }
            .text{
                text-align: center;
            }
    }

}

        // FOOTER CSS
        .footer{
            .col-6{
                padding:0 40px;
   
            }
            h6,p,i{
                color: $color;
            }
            .item{
                display: flex;
                i{
                    order: 1;
                    padding-right: 10px;
                    padding-top: 5px;
                }
                p{
                    order: 9;
                }
            }
            .contact
            {
                margin: auto;
                display: flex;
                justify-content: center;
                i{
                    padding: 0 10px;
                    width: auto;
                    position: relative;
                    bottom: 0;
                    transition: font-size 0.5s, bottom 0.5s;
                }
                i:hover{
                    font-size: 30px;
                    transition: font-size 0.5s, bottom 0.5s;
                    bottom: 5px;
                }
            }
        } 
        @media screen and (max-width: 965px) {
            .nav{
                position: absolute;
                div{
                    div{
                         .logo
                        {
                            padding-left: 30%;
                        }
                        ul{
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            li.form{
                                width: 98%;
                                padding-left: 2%;
                                input
                                {
                                    width: 100%;
                                    margin-left: 1%;
                                    
                                    
                                }
                            }

                            .end{
                                padding-left: 27%;
                            }
                        }
                    }
                }
               
            }  


        }

        @media screen and (max-width: 769px)
        {
            .sp
            {
               
                .row
                {
                    margin: 0;
                    .sp-item
                    {
                        margin-top: 3%;
                    }
                }
            }

            .footer
            {
                width: 100%;
                .row
                {
                    display: block;
                    .col-6
                    {
                        width: 100%;
                        padding: 0 0 0 5%;
                        margin: 0;
                    }
                }
            }
        }